{
  "api": {
    "port": "3333",
    "prefix": "api",
    "cache": {
      "max": 1000,
      "ttl": 60
    },
    "throttler": {
      "limit": 1000,
      "ttl": 60
    },
    "nats":{
      "name": "NATS_SERVICE",
      "options": {
        "servers": ["nats://localhost:4222"]
      }
    }
  }
}